{
  "name": "{{ npm_name }}",
  "version": "{{ version }}",
  "main": "dist/main.js",
  "types": "dist/publicAPI.d.ts",
  "keywords": [],
  "private": true,
  "author": "",
  "license": "{{ license }}",
  "description": "",
}
